.table {
    display: table;
    position: absolute;
    right: 15px;
    width: 250px;
    top: 60px;
    border-radius: 4px;
    padding: 5px 10px;
    box-shadow: 1px 1px 5px 2px #dbdbdb;
    transition: 2s;
    background: white;
  
    .heading {
      font-weight: bold;
    }
    div {
      display: table-row;
      div {
        display: table-cell;
        padding: 3px;
      }
    }
  }
  